{# templates/editor/editor.html.twig #}
{# data received: form, filetext, sessiontext #}
{# @var filetext string #}
{# @var sessiontext string #}
{# @var form \Symfony\Component\Form\FormView #}

{% extends 'base.html.twig' %}

{% block title %}My Editor{% endblock %}

{% block body %}
    {% if form is not null and form is not empty %}
        {% form_theme form 'form_table_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
    {% if app.session.get('userName') is not empty %}
        <a class="btn btn-success ml-2 mt-2" href="{{ path('forum_topiclist') }}">Go To Forum</a><br/>
        <a class="btn btn-warning ml-2 mt-2" href="{{ path('changePassword') }}">Change Password</a><br/>
        <a class="btn btn-danger ml-2 mt-2" href="{{ path('editorLogout') }}">Log Out</a>
    {% else %}
        <a href="{{ path('registerAction') }}">Register</a>
    {% endif %}
    <hr/>FILE CONTENTS:<br/>
    <p class="ml-4">{{ filetext|nl2br }}</p>
    <hr/>SESSION CONTENTS:<br/>
    <p class="ml-4">{{ sessiontext|nl2br }}</p>
{% endblock %}