{# templates/forum/messagelist.html.twig #}
{# @var model \App\Model\MessageListModel #}


{% extends "forum/forumbase.html.twig" %}

{% block forumcontent %}

    <div class="ml-4">
        <a class="btn btn-warning mb-4" href="{{ path('forum_topiclist') }}">Back To The Topic List</a>
        {% form_theme model.messageForm "form_table_layout.html.twig" %}
        {{ form_start(model.messageForm) }}
        {{ form_widget(model.messageForm) }}
        {{ form_end(model.messageForm) }}
        <br/>
        {% for message in model.messageList %}
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ message.userName }} at {{ message.timeStamp }}</h5>
                    <p class="card-text">{{ message.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}