{# templates/forum/topiclist.html.twig #}
{# @var model \App\Model\TopicListModel #}

{% extends "forum/forumbase.html.twig" %}

{% block forumcontent %}
    <div class="ml-4">
        <a class="btn btn-warning mb-4" href="{{ path('editor') }}">Go Back To The Home Page</a>
        {% form_theme model.topicForm "form_table_layout.html.twig" %}
        {{ form_start(model.topicForm) }}
        {{ form_widget(model.topicForm) }}
        {{ form_end(model.topicForm) }}
        <br/>
        {% for topic in model.topicList %}
            <p>
                <a class="btn btn-secondary" href="{{ path("forum_messagelist", { 'topic': topic.id }) }}">
                    Topic #{{ topic.id }}: {{ topic.name }}
                </a>
            </p>
        {% endfor %}
    </div>
{% endblock %}